This is a notebook that I made to explore a heart disease dataset available [here](https://www.kaggle.com/ronitf/heart-disease-uci)

# Predicting Heart Disease: Classifiers
## A project for CoderGirl Data Science Jan 20202
### EDA
***
**This is my final project**
- It is awesome
    - I learned a lot

In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split

In [72]:
# load the data
df = pd.read_csv('heart.csv')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [61]:
df['target'] = df['target'].replace(to_replace = [0, 1], value = [True, False])

In [73]:
X = df.drop(columns=['target'])
y = df['target']

In [74]:
r_state = 35

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=r_state)

In [76]:
X_train.shape

(203, 13)

In [77]:
X_test.shape

(100, 13)

In [78]:
my_model = LogisticRegression(random_state=r_state)
my_model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=35, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [79]:
y_pred = my_model.predict(X_test)

In [80]:
y_pred

array([1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1], dtype=int64)

In [81]:
y_test.to_numpy()

array([0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [82]:
my_model.score(X_test,y_test)

0.82

In [83]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [88]:
# let's try fitting a subset of features
columns = ['age']
subset = df[columns]
subset.head()

   age
0   63
1   37
2   41
3   56
4   57

In [89]:
X = subset

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=r_state)

In [90]:
sub_model = LogisticRegression(random_state=r_state)
sub_model.fit(X_train, y_train)
y_pred = sub_model.predict(X_test)
sub_model.score(X_test,y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.6

In [92]:
dataset = pd.get_dummies(df, columns = ['sex','cp'])
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [93]:
dataset.head()

,age,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,sex_0,sex_1,cp_0,cp_1,cp_2,cp_3
0,63,145,233,1,0,150,0,2.3,0,0,1,1,0,1,0,0,0,1
1,37,130,250,0,1,187,0,3.5,0,0,2,1,0,1,0,0,1,0
2,41,130,204,0,0,172,0,1.4,2,0,2,1,1,0,0,1,0,0
3,56,120,236,0,1,178,0,0.8,2,0,2,1,0,1,0,1,0,0
4,57,120,354,0,1,163,1,0.6,2,0,2,1,1,0,1,0,0,0